.header {
  display: block;
  border-bottom: 1px solid $color-main-light;
  position: relative;

  @include rule(padding, (lg: 18px 28px 0));
  @include rule(display, (xl: block, lg: flex));
  @include rule(flex-wrap, (lg: wrap));
  @include rule(align-items, (lg: center));

  $b: &;

  &_no-menu {
    @include rule(min-height, (xl: 100px, lg: 51px));
    @include rule(border-bottom, (lg: 0));

    .container {
      display: none;
    }
  }

  .container {
    @include rule(padding, (lg: 0));
  }

  &__logo {
    font-size: 0;
    transition: opacity $ease-main;

    @include screen('lg', min) {
      position: absolute;
      top: 22px;
    }

    @include rule(left, (xl: 90px, xlg: 30px));

    &:hover {
      opacity: .5;
    }

    img {
      @include rule(width, (xl: 128px, lg: auto));
      @include rule(height, (lg: 50px));
    }
  }

  &__menu {
    display: flex;

    @include rule(justify-content, (xmd: space-between, lg: flex-start));
    @include rule(padding-top, (xlg: 100px, lg: 0));
    @include rule(white-space, (lg: nowrap));
    @include rule(margin, (lg: 26px -28px 0));
    @include rule(overflow, (lg: auto));
    @include rule(padding, (lg: 0 28px));

    @include screen('lg') {
      -webkit-overflow-scrolling: touch;

      &::after {
        content: '';
        height: 10px;
        width: 28px;
        flex-shrink: 0;
      }
    }
  }

  &__link {
    @include rule(padding, (xl: 36px 0 39px, lg: 0 0 22px));
    @include rule(font-size, (xl: 24px, lg: 16px));
    @include rule(line-height, (xl: 24px, lg: 20px));
    @include rule(font-weight, (xl: 500, lg: 400));

    position: relative;
    transition: color $ease-main;

    &:not(:first-child) {
      @include rule(margin-left, (xl: 62px, xmd: 34px, lg: 18px));
    }

    &.is-active {

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 2px solid $color-main;
        height: 0;

        @include rule(bottom, (xl: -1px, lg: 0));
      }
    }

    &:not(.is-active):hover {
      color: $color-main;
    }
  }

  &__quit {
    display: flex;
    align-items: center;
    color: $color-main;
    transition: opacity $ease-main;
    flex-shrink: 0;

    @include rule(font-weight, (xl: 500, lg: 400));
    @include rule(font-size, (xl: 24px, lg: 16px));
    @include rule(line-height, (xl: 24px, lg: 20px));
    @include rule(flex-direction, (lg: row-reverse));
    @include rule(right, (xl: 90px, xlg: 30px));
    @include rule(margin-left, (lg: auto));
    @include rule(margin-bottom, (lg: 10px));

    @include screen('lg', min) {
      position: absolute;
      top: 25px;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__quit-text {
    padding-top: 5px;
  }

  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $color-main-light;
    position: relative;
    flex-shrink: 0;

    @include rule(margin-right, (xl: 10px, lg: 0));
    @include rule(margin-left, (lg: 5px));

    svg {
      width: 18px;
      height: 18px;
      fill: $color-main;

      @include center-image;
    }
  }
}
