mixin header()
  +b.header&attributes(attributes)
    +e.A.logo(href="#")
      img(src="assets/images/logo.svg")

    +e.A.quit(href="#")
      +e.circle
        +icon('quit')
      +e.quit-text Выйти

    .container
      +e.menu
        - var i = 0
        each item in getData('menu_small')
          - i++
          +e.A.link(href=item.link, class=(i === activeMenuPoint ? 'is-active' : false))!= item.text

mixin ui-kit-header()
  +ui-section
    +ui-section-head
      +ui-title Компонент header
      +ui-path
        p Компонент: components/header/header
      +ui-description
        p Описание компонента

    +ui-section-content()
      +header

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
