$default-breakpoint-name: xl;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoint-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoint-name);
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки

.grid {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;

  $b: &;

  @include rule(margin, (xl: -$grid-gap-vertical (-$grid-gap/2) 0, lg: -20px -5px 0));

  &__col {
    box-sizing: border-box;
    margin: 0;

    @include rule(padding, (xl: $grid-gap-vertical $grid-gap/2 0, lg: 20px 5px 0));

    &_grow {
      flex-grow: 1;
    }

    &_flex {
      display: flex;
      flex-direction: column;
    }

    &_checkable-inputs {
      @include rule(margin-top, (lg: 12px));
      @include rule(margin-bottom, (lg: 12px));

      & + & {
        @include rule(margin-top, (lg: 0px));
      }
    }

    @for $i from 1 through 15 {

      &_#{$default-breakpoint-name}_#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include screen($key) {

          &_#{$key}_#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }
  }

  &_checkboxes {
    @include rule(margin-top, (xl: -22px, lg: -15px));

    #{$b}__col {
      @include rule(padding-top, (xl: 22px, lg: 15px));
    }
  }
}
