mixin ui-kit-form()
  +ui-section
    +ui-section-head
      +ui-title Формы
      +ui-path
        p Блок: blocks/form/form
      +ui-description
        p Форма собирается на основе сетки (блок grid)
        p При необходимости изменения сетки от стандартной, к ней добавляется модификатор

    +ui-section-content()
      +form
        +grid
          +col(6)
            +inputbox
              +label Название поля
              +input-wrapper
                +input(placeholder="Плейсхолдер")

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
