extends ../../layouts/default

block head
  - var pageTitle = projectName + ' | Карта верстки'

block content
  +b.sitemap
    .container
      +e.A.link(href="login.html") Вход (login.html)
      +e.A.link(href="login_sent.html") Вход (подтверждение) (login_sent.html)
      +e.A.link(href="index.html") Профиль партнера - Просмотр (index.html)
      +e.A.link(href="partner_edit.html") Профиль партнера - Редактирование (partner_edit.html)
      +e.A.link(href="specialist_profile.html") Специалист - Профиль (specialist_profile.html)
      +e.A.link(href="specialist_edit.html") Специалист - Редактирование (specialist_edit.html)
      +e.A.link(href="documents_tarif.html") Тарифы (documents_tarif.html)
      +e.A.link(href="documents_report.html") Отчеты (documents_report.html)
      +e.A.link(href="documents_help.html") Помощь (documents_help.html)
      +e.A.link(href="documents_one.html") Документы - Неподтвержденный (documents_one.html)
      +e.A.link(href="documents_two.html") Документы - Подтвержденный (documents_two.html)
