.edit {
  display: block;

  $b: &;

  &__section {

    &:not(:first-child) {
      @include rule(margin-top, (xl: 80px, lg: 37px));
    }
  }

  &__grid {
    padding-top: .1px;

    @include rule(margin-top, (xl: 47px, lg: 36px));
  }

  &__section-title {
    font-weight: 500;

    @include rule(font-size, (xl: 24px, lg: 18px));
    @include rule(line-height, (xl: 30px, lg: 25px));
  }

  &__buttons {
    @include rule(margin-top, (xl: 80px, lg: 40px));

    display: flex;
  }

  &__button {
    min-width: 300px;

    &:first-child {
      @include rule(min-width, (lg: 190px));
    }

    &:last-child {
      @include rule(min-width, (lg: 115px));
      @include rule(margin-left, (lg: 10px));

      &:first-child {
        @include rule(margin-left, (lg: 0));
        @include rule(width, (lg: 100%));
      }
    }
  }
}
