extends ../../layouts/default_two-col

block head
  - var pageTitle = projectName + ' | Тарифы'
  - var activeMenuPoint = 3

block sidebar
  +list(getData('lists').tarif)._mobile-nopadding

block content
  +document('Тариф Велни')
