extends ../../layouts/default
include ui-kit-mixins

block head
  - var pageTitle = projectName + ' | UI-кит'

block content
  script
    | $(window).on('load', function () {
    |   $('.ui-kit__section').each(function (i) {
    |     var id = 'section' + i;
    |     var name = $(this).find('.ui-kit__section-head h2').text();
    |     var li = $('<li></li>');
    |     var a = $('<a></a>');
    |
    |     a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |     li.append(a);
    |
    |     $('.ui-kit__navigation__list').append(li);
    |     $(this).attr('id', id);
    |   });
    | });

  +b.ui-kit
    +e.navigation
      +e.UL.navigation__list

    //- Шапка ui-кита
    +e.SECTION.head&attributes(attributes)
      .container
        +e.IMG.logo(src="assets/images/logo.svg", alt="Логотип проекта")
        +e.name Велни.Партнер

    //- Сетка
    +ui-section._grid
      +ui-section-head
        +ui-title Сетка
        +ui-description
          p Колонок: 12 ($grid-cols)
          p Переменные: styles/helpers/_variables.scss
          p Блок: blocks/grid/

          +ui-special
            p Возможные варианты использования
            p
              pre +col(12) аналогично +col({ xl: 12 })
            p
              pre +col({ xl: 8, lg: 6: md: 5, sm: 7, xs: 12 })
            p Промежуточные брейкпоинты указывать не обязательно
            p При следующей записи - блок будет занимать 6 колонок на всех разрешениях, а на самом маленьком (xs) — 12
            p
              pre +col({ xl: 6, xs: 12 })

      +ui-section-content()
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)

    //- Шрифты
    +ui-section
      +ui-section-head
        +ui-title Шрифты
        +ui-path
          p Переменные находятся в файле styles/helpers/_variables.scss
          p Шрифты подключены в styles/helpers/_fonts.scss
        +ui-description
          p Основной шрифт: Muller ($font-main)

    //- Цвета
    +ui-section
      +ui-section-head
        +ui-title Цвета сайта
        +ui-path Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          - var n = 0;
          while n < 30
            +ui-color._color
            - n++

    //- Блок button
    +ui-kit-button

    //- Блок form
    +ui-kit-form

    //- Компонент header
    +ui-kit-header

    //- Компонент footer
    +ui-kit-footer


    //- Компонент change-button
    +ui-kit-change-button


    //- Компонент info-list
    +ui-kit-info-list


    //- Компонент list
    +ui-kit-list


    //- Компонент document
    +ui-kit-document


    //- Компонент edit
    +ui-kit-edit
