.main {
  display: block;

  $b: &;

  &_columns {
    @include screen('lg', min) {
      display: flex;
      width: 100%;
    }
  }

  &__sidebar {
    @include screen('lg', min) {
      width: 360px;
    }

    @include rule(padding, (xl: 50px 0, lg: 24px 0));

    background: $color-main-light;
  }

  &__button {
    width: 100%;
  }

  &__content {
    @include rule(padding, (xl: 50px 0, lg: 30px 0));

    #{$b}_columns & {
      flex: 1;
      overflow: hidden;
    }
  }
}
