.login {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background-image: url('../images/login_background.jpg');
  background-size: cover;

  @include rule(padding, (xl: 64px 0 79px, lg: 72px 0 26px));

  $b: &;

  &__header {
    color: white;
    text-align: center;
  }

  &__title {
    @include rule(font-size, (xl: 64px, lg: 36px));

    font-weight: 500;
    line-height: 1;
  }

  &__subtitle {
    @include rule(font-size, (xl: 24px, lg: 18px));

    font-weight: 500;
    line-height: 1;

    &:not(:first-child) {
      @include rule(margin-top, (xl: 23px, lg: 14px));
    }
  }

  &__content {
    @include rule(padding, (xl: 123px 0, lg: 42px 0));
    @include rule(width, (xl: 360px, lg: 230px));
    @include rule(height, (xl: 750px, lg: 360px));

    position: relative;
    box-sizing: border-box;
    margin: 0 auto;

    &::before {
      content: '';

      @include rule(height, (xl: 750px, lg: 360px));
      @include rule(width, (xl: 750px, lg: 360px));

      border-radius: 50%;
      background: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 65px, lg: 75px));
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__logo {
    text-align: center;
    font-size: 0;

    img {
      @include rule(height, (xl: 100px, lg: 50px));
    }
  }

  &__form {
    @include screen('lg') {
      height: 225px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 53px, lg: 0px));
    }
  }

  &__copyright {
    text-align: right;

    @include rule(margin-top, (lg: 46px));
    @include rule(padding-right, (xl: 90px, lg: 29px));
    @include rule(font-size, (xl: 16px, lg: 14px));
    @include rule(line-height, (xl: 1, lg: 20px));

    color: $color-grey;
  }
}
