extends ../../layouts/default_two-col

block head
  - var pageTitle = projectName + ' | Профиль специалиста'
  - var activeMenuPoint = 5

block sidebar
  +button-plus()(href="#")._plus.__button Добавить специалиста
  +list(getData('lists').names)

block content
  +change-button
  +info-list(getData('info-lists').specialists)
