.change-button {
  display: block;
  text-align: right;
  font-size: 0;

  @include rule(margin-bottom, (xl: 30px, lg: 12px));

  $b: &;

  &__button {
    @include screen('lg', min) {
      min-width: 300px;
    }
  }
}
