mixin info-list(data)
  +b.info-list&attributes(attributes)
    each section in data
      +e.section
        +e.P.title!= section.name
        +e.content
          each item in section.items
            +e.item
              +e.P.name!= item.title
              +e.P.value!= item.text

mixin ui-kit-info-list()
  +ui-section
    +ui-section-head
      +ui-title Компонент info-list
      +ui-path
        p Компонент: components/info-list/info-list
      +ui-description
        p Описание компонента

    +ui-section-content()
      +info-list(getData('info-lists').profile)

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
