include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/button/button
include ../blocks/form/form
include ../components/header/header
include ../components/login/login
include ../components/main/main
include ../components/footer/footer
include ../components/change-button/change-button
include ../components/info-list/info-list
include ../components/list/list
include ../components/document/document
include ../components/edit/edit
include ../components/partners/partners