extends ../../layouts/default_two-col

block head
  - var pageTitle = projectName + ' | Редактирование специалиста'
  - var activeMenuPoint = 2

block sidebar
  +button-plus()(href="#")._plus.__button Добавить специалиста
  +list(getData('lists').names)

block content
  +edit(getData('edit_specialist'), true)
